body, div, h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
h1 {
	font-size: 18px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.item-card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.item-card:hover {
  background-color: rgb(237, 255, 225);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  font-style: italic;
}