body, div, h1, h2, h3, h4, form, header, hr{
  margin: 0;
  padding: 0;
}
body {
  position: relative;  
  font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 16px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.item-card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.item-card:hover {
  background-color: linen;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  font-style: italic;
}

input, button {
  font-size: 14px;
  color: black;
  margin: 10px;  
}

input:focus {
  background-color: linen;  
}

header {
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(9,115,121,1) 50%, rgba(0,212,255,1) 100%);
  box-shadow: 0px 0px 20px darkslategray;
  position: fixed;
  width: 100%;
  top:0;    
}

main {
  margin-top: 60px;
}

.msg {
  color: #fff;  
}

.error {
  background: linear-gradient(0deg, rgb(255, 145, 0) 0%, rgb(255, 0, 0) 50%, rgb(255, 245, 100) 100%);
  color: #fff;    
}

.search-msg {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

button:hover {
  color: black;
  background-color: cyan;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: none;  
 	width: 98%;
	height: 50px;
	margin-top: 0;
	/*border-bottom: 1px solid #1f1209;*/  
	box-shadow: 0 20px 20px -20px darkslategray;
  margin: -70px auto 10px; 
}